<div>
    <div>
        <b>Assign Pupil</b>
    </div>
    
    <br/>
    <br/>
    <form class="example-form" *ngIf="data.isEditOrDel!=='delete'">
            <mat-label>Choose Pupil:</mat-label>
            <div>
                <select [(ngModel)]="data.pupilId" name="pupilselect">
                    <option *ngFor="let pupil of data.pupilList" [ngValue]="pupil.pupilId">
                        {{pupil.username}}
                    </option>
                </select>
                <br />
            </div>
        <br/>
        
        <br />
        <button mat-raised-button class="btnAdd" (click)="assignPupil(data)">Assign</button>
        <button mat-raised-button class="btnAdd" (click)="dialogRef.close()" style="float:right">Cancel</button>

        </form>
</div>