<div>
    <div *ngIf="data.isEditOrDel!=='edit' && data.isEditOrDel!=='delete'">
        <b>Add New Class</b>
    </div>
    <div *ngIf="data.isEditOrDel=='edit'">
        <b>Edit Class</b>
    </div>
    
    <br/>
    <br/>
    <form class="example-form" *ngIf="data.isEditOrDel!=='delete'">
        <mat-form-field class="example-full-width">
            <mat-label>Class Name</mat-label>
            <input matInput (change)="data.name = $event.target.value" value="{{data.name}}">
        </mat-form-field>
        <br/>
        
        <br />
        <button mat-raised-button class="btnAdd" *ngIf="data.isEditOrDel!=='edit'" (click)="createClass(data)">Add</button>
        <button mat-raised-button class="btnAdd" *ngIf="data.isEditOrDel=='edit'" (click)="createClass(data)">Edit</button>
        </form>

    <div *ngIf="data.isEditOrDel=='delete'">
        <p>Are you sure you want to delete "{{data.name}}" Class?</p>
        <button (click)="createClass(data)">Yes</button>
        <button (click)="dialogRef.close()" style="float:right">Cancel</button>
    </div>
</div>